.p-container
{
    /* border: 2px solid; */
    min-height: 100vh;
    display: grid;
    grid-template-rows: 60px auto ;
    text-align: center;
    margin-bottom: 50px;
}
.pc-title
{
    font-size: 40px;
    /* font-weight: 500; */
    /* border: 2px solid; */
}
.pc-list
{
    margin: 20px auto 20px auto;
    width: 85%;
    /* border: 3px solid red; */
    display: grid;
    grid-template-columns: 30% 30% 30%;
    justify-content: space-between;
    grid-row-gap: 40px;
}
.pc-list img{
    /* z-index: 1; */
    width: 100%;
    height: 100%;
    /* border: 3px solid green; */
}

.project
{
    border-radius: 15px;
    overflow: hidden;
    position: relative;
    height: 300px;
    /* width: 250px; */
    /* border: 2px solid; */
    transition: 1.5s all;
    box-shadow: 5px 5px 10px rgb(179, 179, 179);
}
.project:hover
{
    transform: translateY(-1rem);
    transition:1.5s all;
}
.info
{
    /* z-index: 999; */
    position:absolute;
    top: 0;
    font-size: 40px;
    color: white;
    background-color: rgba(0, 0,0, 0.1);
    width: 100%;
    height: 100%;
    text-align: center;
   
}
.info-title
{
    margin-top: 35%;
    /* z-index: 2; */
}
.info-level
{
    margin-top: 10px;
    font-size: 15px;
}
.info-desc
{
    margin-top: 10px;
    font-size: 20px;
}