.contact-container
{
    /* margin-top: 50px; */
    height: 100vh;
    /* border: 2px solid; */
}
.cc-title
{
    font-size: 4rem;
    height: 10%;
    text-align: center;
}

.cc-flex
{
    display: flex;
    font-size: 2rem;
    /* border: 2px solid green; */
    height: 90%;
    width: 90%;
    margin: 0px auto 0px auto;
    /* overflow-y: hidden; */
    /* box-sizing: border-box; */
}
.cc-left
{
    flex:1;
    /* border: 2px solid; */
    height: 100%;
}
.form{

    width: fit-content;
    padding: 2rem;
    border-radius: 9px;
    border: 1px solid rgb(223, 222, 222);
    /* margin: ; */
    /* height: 100%; */
    margin: 4rem  5rem auto;
    box-shadow: 5px 5px 10px rgb(223, 222, 222);
}
.form-title
{
    margin-bottom: 1rem;
    font-size: 3rem;
}
.form-container
{
    justify-content: center;
    text-align: center;
    /* border: 2px solid; */
    /* width: 80%; */
    /* height: 100%; */
}
.form input
{
    height: 2.5rem;
    width: 26.5rem;
    padding: 0.5rem 1rem;
    font-size: 1.8rem;
    margin: auto 0px auto 0px;
    border: 1px solid black;
    margin-bottom: 2rem;
}
input::placeholder
{
    font-size: 1.5rem;
    padding-left: 1rem;
}
.form textarea
{
    resize: none;
    font-size: 15px;
    padding: 1rem;
    
}
.form .form-button
{

    margin-top: 1rem;
    border-radius: 10px;
 transition: none;
 transform: none;
 background-color: rgb(28, 28, 206);

}
.form .form-button:hover
{
    background-color: rgb(23, 23, 172);
}
.form .form-button:active
{
    transform: scale(0.90);
    /* transition: 2s; */
}

.cc-right
{
    flex:1;
    /* border: 2px solid; */
}
.ccr-container
{
    /* border: 1px solid; */
    height: 100%;
    display: flex;
    /* border: 2px solid; */
    flex-direction: column;
    /* position: relative; */
   
}
.ccrc-title
{
    /* position: absolute; */
    /* bottom: 10px; */
    /* flex:1; */
    margin-top: 20%;
   height: 10%;
    font-size: 2.5rem;
    text-align: center;
    /* border: 1px solid; */
    /* height: 30px; */

   
}
.ccrc-social
{
    height: 80%;
    width: 100%;

    /* text-align: center; */
    /* margin-left: auto; */
    /* border:1px solid */
}
.social-links
{
    /* border: 2px solid; */
    width: 70%;
    height: 90%;
    /* justify-content: center; */
    /* text-align: center; */
    /* align-items: center; */
    margin:3rem auto 0 auto;
}
.link{
    display: flex;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    /* margin-left: 10rem; */
    margin-bottom: 1rem;
    /* border: 1px solid; */
}
.link .link-icon .fb , .link .link-icon .insta, .link .link-icon .github, .link .link-icon .linkedin
{
    color: black;
}
.link .link-icon .fb:hover
{
    color:#3b5998;
}
.link .link-icon .insta:hover
{
    color: #DD2A7B ;
}
.link .link-icon .github:hover
{
    color: #AD5C51 ;
}
.link .link-icon .linkedin:hover
{
    color:  #0077b5;
}
.link-name
{
    
    /* border: 1px solid; */
    /* height: 35px; */
    font-size: 1.5rem;
    margin-top:auto ;
    margin-bottom: auto;
    margin-left: 1rem;
}

@media screen and (max-width:480px) {
    .contact-container
    {
        border: 2px solid;
        width: 85%;
    }
    .cc-flex
    {
        /* visibility: hidden; */
        flex-direction: column;
        /* border: 2px solid green; */
    }
    .cc-title
    {

        padding: 0;
        margin: 0;
        width: 100%;
        font-size: 25px;
        /* text-align: center; */
        border: 1px solid red;
    }
    .cc-left
    {
        width: 90%;
        /* border: 2px solid; */
    }
    .form{
        padding: 0;
        margin: 0 auto;
        /* border: 2px solid; */
    }
    .form input{
        height: 2rem;
        width: 90%;
    }
    .form textarea
    {
        width: 90%;
        padding-top: 10px;
        /* border: 1px solid; */
    }
    .form .form-button
    {
        margin-bottom: 10px;
    }
    .form-title
    {
        padding-top: 10px;
    }
    .link{
        margin: 0;
        /* border: 1px solid; */
    }
    .ccrc-social
    {
        /* border: 2px solid; */
        width: 90%;
        /* margin: 0; */
        /* padding: 0; */
        /* overflow: hidden; */
    }
    .social-links{
        /* border: 2px solid green; */
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        grid-template-rows: 60px;
    }
    .link-name{
        visibility: hidden;
    }
    /* .ccr-container{
        border: 2px solid;
    }
    .cc-right
    {
        border: 2px solid red;
        height: 200px;
    }
     */

     .cc-flex{
         /* border: 2px solid; */
         height: 100%;
     }
     /* .contact-container
     {
         border: 2px solid red;
         height: 100%;
         padding: 0;
         margin: 0;
         width: 300px;
         /* width: 200px; */
     /* } */ 
}