.i-container
{
    height: 100vh;
    display: flex;
    margin-bottom: 50px;
}
.ic-nav
{
    right: 20px;
    text-align: right;
    z-index:1;
    position: absolute;
    width: 100%;
    height: 60px;
    font-size: 40px;
    /* border: 2px solid red; */
}
.ic-left
{
    flex: 1;
    align-items: center;
    justify-content: center;
   
}

.icl-wrapper
{
    position: relative;
    /* border: 1px solid; */
    padding: 10rem 10rem 0rem 5rem;
    height: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.greeting
{
    font-size: 4rem;
    font-weight: 500;
}
.name
{
    font-size: 6rem;
    color: blueviolet;
    font-weight: 700;
}

.icl-desc
{
    margin-top: 3rem;
    font-size: 3rem;
    font-weight: 500;
}

.icl-buttons
{
    position: absolute;
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    width: 50%;
    bottom: 0;
    /* border: 2px solid black; */
}
button
{
    cursor: pointer;
    font-size: 2.5rem;
    outline: none;
    border: transparent;
    height: 4.5rem;
    border-radius: 5px;
    color: white;
    padding: 0.5rem 1.5rem;
    transition: 1s;
}

button:hover
{
    background-color: rgb(68, 68, 230);
    transform: translateY(-0.3rem);
    -webkit-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}
.btn-moreme, .btn-hireme
{
    background-color: darkblue;
}

.btn-moreme a ,.btn-hireme a{
    color: white;
    text-decoration: none;
    font-size: 2.5rem;
}

.ic-right
{
    flex:1;
    position: relative;
  
}
.icr-bg
{
    clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
    background-color: rgb(38, 161, 233);
    width: 100%;
    height: 100%;
    position: absolute;
}
.i-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    right: 0;
    bottom: 0;
}
   

.intro-wrapper
{
    margin-top: 2rem;
    height: 5rem;
    overflow: hidden;


  
}
.intro-items
{
    /* height: 50px; */
    animation: animate 10s infinite ease-in-out alternate;
}
@keyframes animate {
    25%{ 
        transform: translateY(-5rem);
    }
    50%{ 
        transform: translateY(-10rem);
    }
    75%{ 
        transform: translateY(-15rem);
    }
    100%{
         transform: translateY(-20rem);
    }
    
}
.intro-item
{
    /* border: 1px solid; */
    height: 5rem;
    font-size: 3rem;
    font-weight: 600;
    color: rgb(16, 145, 219);
    /* display: flex; */
    /* align-items: center; */
}

/* mobile view */

@media  screen and (max-width:480px) {
    .i-container
    {
        flex-direction: column;
        text-align: center;
        justify-content: center;
    }
    .icl-wrapper{
        height: 100%;
        padding: 0rem;
    }
    .icl-buttons
    {
        visibility: hidden;
    }
    .intro-item
    {
        font-size: 25px;
    }
    .intro-wrapper
    {
        height: 35px;
    }
    
}

/* 
@media  screen and (min-width:481px) and (max-width:767px)
{
    .i-container
    {
        flex-direction: column;
        text-align: center;
        justify-content: center;
    }
    .icl-wrapper{
        height: 100%;
        padding: 1rem;
    }
    .icl-buttons
    {
        visibility: hidden;
    }
    .intro-item
    {
        font-size: 25px;
    }
    .intro-wrapper
    {
        height: 35px;
    }
} */