.f-container
{
    height: 250px;
    background-image: linear-gradient(90deg, #0f2027, #2c5364);
    justify-content: center;
    align-items: center;
    display: flex;
}
.f-container::before
{
    content: '';

}
.f-container .contents
{
    font-size: 40px;
    color: white;
}
.tech-list{
    width: 200px;
    display: grid;
    font-size: 40px;
    margin:0 auto;
    margin-top: 20px;
    grid-template-columns: auto auto;
}

@media screen and (max-width:480px){
    .f-container .contents
    {
        font-size: 20px;
    }
    .tech-list
    {
        width: 100px;
        font-size: 30px;
        justify-content: space-between;
    }
}